<template>
    <h2>${title}</h2>
    <table>
        <thead>
            <th>Name</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>City</th>
            <th>Bob</th>
            <th>Age</th>
            <th>Blockbuster</th>
        </thead>
        <tbody>
            <tr style="cursor: pointer;"
                repeat.for="director of directors"
                click.trigger = "goToDetail(director)">
                <td>${director.fullName}</td>
                <td>${director.sex}</td>
                <td>${director.nationality}</td>
                <td>${director.city}</td>
                <td>${director.dob}</td>
                <td>${director.age}</td>
                <td>${getMovieName(director.blockbusters)}</td>
            </tr>
        </tbody>
    </table>
</template>